services:
  node1:
    build: .
    container_name: node1
    cap_add:
      - NET_ADMIN
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "1883:1883" # MQTT
      - "5683:5683/udp" # CoAP
      - "8000:8000" # HTTP
      - "5672:5672" # AMQP
      - "5222:5222" # XMPP
      - "1884:1884/udp" # MQTT-SN
    networks:
      - lpwan_net
    volumes:
      - .:/app
    command: sh /app/entrypoint.sh

  node2:
    build: .
    container_name: node2
    cap_add:
      - NET_ADMIN
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - node1
    networks:
      - lpwan_net
    volumes:
      - .:/app
    command: sh /app/entrypoint.sh

networks:
  lpwan_net:
    driver: bridge
